version: "3"
services:
  server:
    image: node:latest
    command: sh -c "npm install && npm run dev"
    environment:
      - NODE_ENV=development
      - PORT=5000
    ports:
      - "5000:5000"
    working_dir: /root/server
    volumes:
      - ./server:/root/server:cached
    restart: always
  webapp:
    image: node:latest
    command: sh -c "npm install && npm start"
    environment:
      - NODE_ENV=development
      - PORT=3000
    ports:
      - "3000:3000"
    working_dir: /root/webapp
    volumes:
      - ./webapp:/root/webapp:cached
    restart: always
  wla:
    image: node:latest
    command: sh -c "npm install -g expo-cli && npm install && npm start"
    environment:
      - NODE_ENV=development
      # - PORT=3000
    ports:
      - "19000:19000"
      - "19001:19001"
      - "19002:19002"
    working_dir: /root/wla
    volumes:
      - ./wla:/root/wla:cached
    restart: always
  db:
    image: postgres:9.5
    environment:
      - POSTGRES_PASSWORD=odoo
      - POSTGRES_USER=odoo
      - POSTGRES_DB=postgres
    restart: always # run as a service

  odoo12:
    image: odoo:12.0
    depends_on:
      - db
    ports:
      - "8071:8069"
    tty: true
    command: -- --dev=reload
    #    command: odoo scaffold /mnt/extra-addons/test_module
    volumes:
      - ./addons:/mnt/extra-addons
      - ./etc:/etc/odoo
    restart: always # run as a service
